{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!--  Putting a logo in the navbar
		the line <a class="..." from bootstrap example was removend
		and an <img"".. was added to put a logo in the navbar
	-->

  <!-- <img src="{% static 'images/logo.png' %}"> -->
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
		{% if request.user.is_authenticated %}
			{% if request.user.profile.complete %}
        	<a class="nav-link" href="{% url 'accounts:url_editProfile' %}">Edit your Profile </span></a>
			{% else %}
        	<a class="nav-link" href="{% url 'accounts:url_editProfile' %}">Complete your Profile </span></a>
			{% endif %}
			}
		{% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'clientSite:url_about' %}">About</a>
      </li>
    </ul>
  </div>

  {% if request.user.is_authenticated %}
	  <span  class="hello-msg"> Hello, {{request.user}}</span>
	  <span> <a class="hello-msg" href="{% url 'accounts:url_logout' %}">Logout</a> </span>
  {% else %}
	  <span> <a class="hello-msg" href="{% url 'accounts:url_login' %}">Login</a> </span>
  {% endif %}
</nav>

